<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>绩满满</string>
	<key>NSCameraUsageDescription</key>
	<string>需要访问相机以拍摄题目进行AI答疑</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要访问相册以选择图片进行AI答疑</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要保存测评报告到您的文件</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.gaoshub.jimanman</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.gaoshub.jimanman</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx25240f7addf5c344</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>weixinULAPI</string>
		<string>weixinURLParamsAPI</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
</dict>
</plist>
